{% extends "layouts/base.html" %}

{% load static %}

{% block title %} Songs by {{ artist.1 }} {% endblock %}

{% block breadcrumb %}
<span>&nbsp; &raquo; &nbsp;</span>
<a href="/artists/">Artists</a> 
<span>&nbsp; &raquo; &nbsp;</span>
<a href="">{{ artist.1 }}</a> 
{% endblock %}

{% block content %}
<div class="container-fluid page__container">
    <h1 style="padding: 27px !important; text-align: center;">Songs by {{ artist.1 }} </h1>
    <div class="card document-card">
        <div class="row mb-4 mt-4 mr-2">
            <div class="col-md-12">
                <div style="text-align: right">
                    <a href="{% url 'create-song' artist.0 %}" class="btn btn-outline-primary">
                        <i class="fa fa-plus"></i>&nbsp; Add Songs
                    </a>
                </div>
            </div>
        </div>
        <div class="row ml-2 mr-2 mb-2 mt-2">
            <div class="col-sm-12 document-table-space">
                <table class="table  w-full no-footer" role="grid"  id="myTable">
                    <thead class="table-space-top-bottom">
                        <tr role="row">
                            <th>S.N</th>
                            <th>Title</th>
                            <th>Album Name</th>
                            <th>Genre</th>
                            <th>Release Year</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in songs %}
                        <tr>
                            <td>{{ page.start_index|add:forloop.counter0 }}</td>
                            <td>{{ obj.2 }}</td>
                            <td>{% if obj.3 %}{{ obj.3 }}{% else %}-{% endif %}</td>
                            <td>{{ obj.4 }}</td>
                            <td>{% if obj.5 %}{{ obj.5 }}{% endif %}</td>
                            <td>
                                <div class="btn-group" role="group" style="margin:auto;">
                                    <a href="{% url 'update-song' artist.0 obj.1 %}" class="btn-sm btn btn-info btn-success-space ml-2" data-toggle="tooltip" data-original-title='Modify'>
                                        <i class="fa fa-pencil-alt"></i>
                                    </a>
                                    <a href="" data-toggle="modal" data-target="#deleteModal{{ artist.0 }}{{ obj.1 }}" class="btn-sm btn btn-danger user-deactivate ml-2" data-original-title='Delete'>
                                        <i class="fas fa-ban"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}    
                    </tbody>
                </table>
                {% include 'layouts/pagination.html' %}
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal-->
{% for obj in songs %}
<div class="modal fade" id="deleteModal{{ artist.0 }}{{ obj.1 }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Select "Delete" if you want to delete the song {{ obj.2 }}
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" href="{% url 'delete-song' artist.0 obj.1 %}">Delete</a>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}